/* Fonts
--------------------------------------------------------------------------- */

@import url(/fonts/source-sans-pro-release/source-sans-pro.css) all;
@import url(/fonts/source-serif-pro-release/source-serif-pro.css) all;
@import url(/fonts/source-code-pro-release/source-code-pro.css) all;

/* Schriftarten
-------------------------------------------------- */

html,
body,
button
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: calc(1vw + 1vh);
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6
{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

/* Schriftgröße
-------------------------------------------------- */

.bolder
{
	font-weight: 600;
}
.smallbold
{
	font-weight: 600;
	font-size: 0.8em
}

#header img {
	width: calc(50vw + 50vh);
	height: auto;
}

hr {
	width: calc((50vw + 50vh) - 6vw);
/*	position: absolute;
	left: 3vw;
	top: calc(24vw + 24vh);*/
}

.clearboth {clear: both;}

#sp_url {
	position: relative;
	margin-left: 8.4em;
}

#sp_daysvalid {
	position: relative;
	margin-left: 4.6em;
}

#sp_pwd {
	position: relative;
	margin-left: 6em;
}

#lbl_url {
	position: relative;
	right: -8em;
}

#lbl_daysvalid {
	position: relative;
	right: -4.2em;
}

#lbl_pwd {
	position: relative;
	right: -5.8em;
}

#lbl_form {
	font-weight: 600;
	font-size: 1.1em;
	position: relative;
	right: -9.2em;
}

#url {
	width: calc(35.5vw + 35.5vh);
}

#pwd {
	width: calc(17vw + 17vh);
}